h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 36px;
  word-spacing: 2px;
  color: #000000;
}

h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 28px;
  word-spacing: 2px;
  color: #000000;
}

body {
  background-color: #FFFFFF;
  margin: 0 10% 0 10%;
}

#headline {
  display: flex;
  justify-content: center;
}

p {
  text-align: center;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  word-spacing: 2px;
  color: #000000;
  margin: 30px, 50px, 30px, 50px;
}

#choose_country {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selected_country_name{
  color: #fe1717;
  font-size: 24px;
}

select {
  width: 200px;
  font-size: 18px; 
  line-height: 22px; 
  padding: 12px; 
  border-radius: 5px; 
  text-align: center; 
}
select:hover {
  background: #ffe9ac; }

#selected_country_price{
  color: #fe1717;
  font-size: 32px;
}

